/* CUSTOM STYLE GOES HERE */
@font-face {
    font-family: 'AVG';
    src: url('../fonts/AVGARDN_2.TTF') format('truetype'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'AVGBLOD';
    src: url('../fonts/AVGARDD_2.TTF') format('truetype'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


.font-avg {
    font-family: 'AVGBLOD';
}

.bg-zinc {
    background-color: var(--p-zinc-900) !important;
}

:root {
    --primary-color-500: var(--p-zinc-900);
    --primary-text-color-500: #ffffff;
    --primary-color-600: var(--p-zinc-700);
    --primary-text-color-600: #d0d0d0;

}

.logo-text {
    letter-spacing: 10px;
}

.p-inputnumber-input,
.p-password-input {
    border-radius: 0 !important;
}

.p-password-input {
    width: 100% !important;
}


.navbar .megamenu {
    padding: 1rem;
}

.menu-link {
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-family: 'AVG';
}

.menu-link:hover {
    font-weight: 700;
}

.dropdown>a {
    font-family: 'AVGBLOD';

}

.product-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.social>a {
    color: white;
    font-size: 20px;
}


/* Dashboard Section */
.bg-main {

    background: var(--primary-color-500) !important;
}

.bg-main-700 {
    background: var(--primary-color-600) !important;
}

.text-main {
    color: var(--primary-text-color-500) !important;
}

.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-60 {
    width: 60%;
}

.width-80 {
    width: 80%;
}

.width-70 {
    width: 70%;
}

.width-90 {
    width: 90%;
}